---
import Layout from "../../layouts/Layout.astro"
import { getCollection } from "astro:content";

const posts = await getCollection('blog')
---

<Layout title="Blog">
  <h1>Blog</h1>
  <p>These are my articles</p>

  <ul>
    {posts.map(post => 
      (<li>
        {post.data.title}
        <a href={`/blog/${post.data.id}`}>
          Read More
        </a>
      </li>
    ))}
  </ul>
</Layout>

