---
import Layout from "../../layouts/Layout.astro"
import { getCollection } from "astro:content";

const posts = await getCollection('projects')
---

<Layout title="Projects">
  <h1>Projects</h1>
  <p>These are my projects</p>

  <ul>
    {posts.map(post => 
    (
      <li>
        {post.data.title}
        <a href={`/projects/${post.data.id}`}>
          Read More
        </a>
      </li>
    ))}
  </ul>
</Layout>

